
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
    <title></title>
</head>
<body>
<table border="1">
    <tr>
        <th>Model car</th>
        <th>Serial car</th>
        <th>Color car</th>
    </tr>
    <tr th:each="car : ${cars}">
        <td th:text="${car.getModel()}"></td>
        <td th:text="${car.getSerial()}"></td>
        <td th:text="${car.getColor()}"></td>
    </tr>
</table>
</body>
</html>